# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
/README_DJANGO.md

# Scripts shell
*.sh 

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environnement virtuel
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db 