# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
/README_DJANGO.md
./run.sh
./setup.sh
./stop.sh 

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environnement virtuel
venv/
env/
ENV/

# Environnement
.env
.venv

# Clé de service Firebase (ne pas versionner)
*.key.json
serviceAccountKey.json
config.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db 